<div style="margin:auto; width: 70%; margin-top: 30px;">
    <app-search-bar (onSelectedOption)="onSelectedOption($event)"></app-search-bar>
  </div>
  <div class="header">
      <h2>Select Chord</h2>
      <h2>Select Song</h2>
      <h2>Select Tab</h2>
  </div>

<!-- Implement pagination for this so that it only shows top 10 
<div *ngFor = "let song of songList" class="group">
  <mat-grid-list cols="3" rowHeight="110px" gutterSize="1px">
      <mat-grid-tile>
          <button mat-raised-button color="primary" class="buttonElementStyling" (click)="gotoChords(song.song_name,song.artist,song.album,song.default_key)">
              <br>
              Show Chords for {{song.song_name}}<br>
              <br>
            </button>
      </mat-grid-tile>
      <mat-grid-tile>
        <button mat-raised-button color="primary" class="buttonCenterElementStyling" (click)="gotoSongInfo(song.song_name,song.artist,song.album,song.default_key)">
          <div style="display: inline-block; text-align: left; width:30%;">
          Song: {{song.song_name}} <br>
          Album: {{song.album}}<br>
          Arist: {{song.artist}}<br>
          </div>
        </button>
      </mat-grid-tile>
      <mat-grid-tile>
          <button mat-raised-button color="primary" class="buttonElementStyling" (click)="gotoTabs(song.song_name,song.artist,song.album,song.default_key)">
              <br>
              Show Tabs for {{song.song_name}}<br>
              <br>
            </button>
      </mat-grid-tile>
  </mat-grid-list>

  
</div>
<mat-paginator [pageSizeOptions]="[1, 2, 3]" showFirstLastButtons></mat-paginator>
-->
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<div>
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
     
      <ng-container matColumnDef="song_name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Song Title</th>
        <td mat-cell *matCellDef="let Song"> {{Song.song_name}} </td>
      </ng-container>
    
      <ng-container matColumnDef="album">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Album </th>
        <td mat-cell *matCellDef="let Song"> {{Song.album}} </td>
      </ng-container>

      <ng-container matColumnDef="artist">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Artist </th>
          <td mat-cell *matCellDef="let Song"> {{Song.artist}} </td>
      </ng-container>
      
      <ng-container matColumnDef="default_key">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Key </th>
          <td mat-cell *matCellDef="let Song"> {{Song.default_key}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Actions </th>   
          <td mat-cell *matCellDef="let Song"> 
              <button mat-raised-button color="primary" class="buttonElementStyling" (click)="gotoChords(song.song_name,song.artist,song.album,song.default_key)">Chords</button> 
              <button mat-raised-button color="primary" class="buttonElementStyling" (click)="gotoTabs(song.song_name,song.artist,song.album,song.default_key)">Tabs</button>
          </td>
        </ng-container>
 
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[0, 1, 2]" showFirstLastButtons></mat-paginator>
  </div>
  
  <router-outlet></router-outlet>
