<div style="margin:auto; width: 70%; margin-top: 30px;">
    <app-search-bar (onSelectedOption)="onSelectedOption($event)"></app-search-bar>
  </div>
  <div class="header">
      <h2>Select Chord</h2>
      <h2>Select Song</h2>
      <h2>Select Tab</h2>
  </div>

<!-- Implement pagination for this so that it only shows top 10 -->
<div *ngFor = "let song of songList" class="group">
  <mat-grid-list cols="3" rowHeight="110px" gutterSize="1px">
      <mat-grid-tile>
          <button mat-raised-button color="primary" class="buttonElementStyling" (click)="gotoChords(song.song_name,song.artist,song.album,song.default_key)">
              <br>
              Show Chords for {{song.song_name}}<br>
              <br>
            </button>
      </mat-grid-tile>
      <mat-grid-tile>
        <button mat-raised-button color="primary" class="buttonCenterElementStyling" (click)="gotoSongInfo(song.song_name,song.artist,song.album,song.default_key)">
          <div style="display: inline-block; text-align: left; width:30%;">
          Song: {{song.song_name}} <br>
          Album: {{song.album}}<br>
          Arist: {{song.artist}}<br>
          </div>
        </button>
      </mat-grid-tile>
      <mat-grid-tile>
          <button mat-raised-button color="primary" class="buttonElementStyling" (click)="gotoTabs(song.song_name,song.artist,song.album,song.default_key)">
              <br>
              Show Tabs for {{song.song_name}}<br>
              <br>
            </button>
      </mat-grid-tile>
  </mat-grid-list>
</div>
