.buttonElementStyling{
  width:100%;
}

.header {
  display: flex;
  justify-content: space-around;
}

.buttonCenterElementStyling{
  width:100%;
  text-align: center;
}
table {
  text-align: center !important;
  width: 100%;
}

.mat-header-cell {
  text-align: center;
}
