.buttonElementStyling{
  width:100%;
  background: #673ab7;
  &:hover {
    background: #8E2BFF;
  } 
  font-weight: bold;
  text-transform: uppercase;
  font-size: .8em;
}

.header {
  display: flex;
  justify-content: space-around;
}

.buttonCenterElementStyling{
  width:100%;
  text-align: center;
}
table {
  text-align: center !important;
  width: 100%;
}

.mat-header-cell {
  text-align: center;
}
