<app-nav></app-nav>
<div style="margin:auto; width: 70%; margin-top: 30px;">
    <app-search-bar (onSelectedOption)="onSelectedOption($event)"></app-search-bar>
  </div>
  <!-- <app-text-area (songSaved)="getAllSongs()"></app-text-area> -->
<h2 style="text-align:center">Song List</h2>
<!-- Implement pagination for this so that it only shows top 10 -->
<div *ngFor = "let song of songList" class="group">
  <mat-grid-list cols="3" rowHeight="100px" gutterSize="0px"  >
      <mat-grid-tile>
          <button mat-raised-button color="primary" class="buttonElementStyling" (click)="gotoChords(song.song_name,song.artist,song.album,song.default_key)">
              <br>
            Chords <br>
              <br>
            </button>
      </mat-grid-tile>
      <mat-grid-tile>
        <button mat-raised-button color="primary" class="buttonElementStyling">
          {{song.song_name}} <br>
          {{song.album}} <br>
          {{song.artist}}
        </button>
      </mat-grid-tile>
      <mat-grid-tile>
          <button mat-raised-button color="primary" class="buttonElementStyling" (click)="gotoTabs(song.song_name,song.artist,song.album,song.default_key)">
              <br>
            Tabs <br>
              <br>
            </button>
      </mat-grid-tile>
  </mat-grid-list>
</div>
