<div style="margin:auto; width: 70%; margin-top: 30px;">
    <app-search-bar (onSelectedOption)="onSelectedOption($event)"></app-search-bar>
  </div>


<app-fretboard></app-fretboard>
<select id="keyChoice">
    <option value="A">A</option>
    <option value="A#" selected="selected">A#</option>
    <option value="B">B</option>
    <option value="C">C</option>
    <option value="C#">C#</option>
    <option value="D">D</option>
    <option value="D#">D#</option>
    <option value="E">E</option>
    <option value="F">F</option>
    <option value="F#">F#</option>
    <option value="G">G</option>
    <option value="G#">G#</option>
  </select>
<input id="Transpose!" type="button" value="Transpose!"/>
<app-text-area></app-text-area>
<h2 style="text-align:center">DUMMY DATA</h2>
<div *ngFor = "let posts of post" class="group">
  <p><b>Item :</b>{{posts.id}}</p>
  <p><b>Title :</b> {{posts.title}}</p>
  <p><b>Body: </b>{{posts.body}}</p>
</div>
